.no-text-decoration,
.no-text-decoration:hover {
  color: inherit;
  text-decoration: inherit;
}

.btn-transparent,
.btn-transparent:hover {
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}
