:root {
  --orange-default: #F96432;
  --dark-blue: #153254;
  --light-blue: #5C7591;
  --dark-gray: #c7c7c7;
  --light-gray: #EBECF1;
  --white-default: #FFFFFF;
  --black-default: #212529;
}

.color-dark-gray {
  color: var(--dark-gray);
}
