.login-page {
  display: flex;
  height: 100%;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white-default);

  &__form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
}
