/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./assets/fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --orange-default: #F96432;
  --dark-blue: #153254;
  --light-blue: #5C7591;
  --light-gray: #EBECF1;
  --white-default: #FFFFFF;
  --black-default: #212529;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}
