/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './app/styles/classes';
@import './app/styles/colors';

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./assets/fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/roboto/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-gray);
}

th {
  white-space: nowrap;
}

.table-responsive {
  border-radius: 4px;
}

.table {
  border: solid 1px #ddd;
  margin-bottom: 0;
  border-radius: 4px;
}

thead {
  background-color: #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: var(--white-default);
}
